/* 
Шрифты:
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

:root {
  --accent-color: #FF6C00;
  --navigation-text-color: #FFFFFF;
  --header-text-color: #303030;
  --subtitle-text-color: #9DA4BD;
  --description-text-color: #555555;
  --secondary-subtitle-text-color: rgba(157, 164, 189, 0.6);;
  --primary-bcg-color: #FFFFFF;
  --secondary-bcg-color: #E5E5E5;
  --teams-bcg-color: #F7F7F7;
  --contacts-bcg-color: #191C26;
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
 }

body {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
 }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
}

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Section */
.section {
  padding-bottom: 130px;
}

/* Шапка */
.main-nav {
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 32px;
}

.logo {
  margin-right: 71px;
}

.nav-list {
  display: flex;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--navigation-text-color);
}

.nav-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--navigation-text-color);
  margin-right: 40px;
}

.nav-title:focus,
.nav-title:hover,
.contact-list .link:focus,
.contact-list .link:hover {
  color: var(--accent-color);
}

.contact-list {
  margin-left: 270px;
}

.contact-list .link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--navigation-text-color);
  margin-right: 40px;
}

.button {
  width: 160px;
  height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--navigation-text-color);
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.button.dark:focus,
.button.dark:hover {
  background-color: var(--accent-color);
}

.button:focus,
.button:hover {
  background-color: var(--accent-color);
}

.button.subbutton {
  color: var(--header-text-color);
  margin-top: 24px;
}
/* Конец шапки */

/* Герой */
.container.hero {
  display: flex;
}

.socials-section {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  padding-right: 18px;
}

.social-list {
  display: flex;
  padding-left: 58px;
  margin-top: 140px;
}

.social-link {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--header-text-color);
}

.social-link:focus,
.social-link:hover {
  color: var(--accent-color);
}

.social-text:not(:last-child) {
  margin-right: 40px;
}

.hero-description {
  width: 1070px;
  height: 680px;
  background-image: url(../images/main/hero.jpg);
}

.hero-info {
  margin-left: 100px;
  margin-top: 272px;
  max-width: 450px;
}

.secondary-title.chief {
  font-size: 72px;
  line-height: 1.18;
}

.secondary-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--navigation-text-color);
  margin-bottom: 20px;
}

.secondary-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-subtitle-text-color);
  margin-bottom: 20px;
}

.secondary-text {
  color: var(--subtitle-text-color);
}
/* Конец героя */

/* О нас */
.container.about {
  display: flex;
}

.about-list {
  display: flex;
}

.about-info {
  width: 50%;
  margin-left: 64px;
  padding-right: 80px;
}

.line {
  width: 10px;
  height: 60px;
  margin-bottom: 20px;
}

.line-white {
  width: 60px;
  height: 10px;
  margin-right: 20px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
  max-height: 445px;
}

.primary-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--header-text-color);
  margin-bottom: 20px;
}

.primary-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--header-text-color);
  margin-bottom: 20px;
}

.primary-text:not(:last-child) {
  color: var(--description-text-color);
}

.primary-text.subtext {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-top: 20px;
}
/* Конец о нас */

/* Услуги и цены */
.service {
  max-width: 1280px;
  max-height: 718px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(41, 42, 50, 0.9), rgba(47, 48, 58, 0.9)),
  url(../images/main/tools.jpg);
  background-color: var(--secondary-bcg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.service .secondary-title {
  margin-bottom: 44px;
}

.service .secondary-subtitle,
.service .secondary-title {
  text-align: left;
}


.service-tables {
  display: flex;
  margin-bottom: 47px;
}

.table-left,
.table-right {
  display: inline-block;
  width: 585px;
  text-align: left;
  padding: 40px 30px;
}
/* ОЧЕНЬ И ОЧЕНЬ КРИВОЙ КОСТЫЛЬ, НЕ КТО НЕ СМОТРИТЕ СЮДА */
.table-line {
  position: relative;
  width: 292px;
}

.table-position {
  width: 292px;
  text-align: end;
}

.table-line::before {
  content: '';
  display: block;
  bottom: 7px;
  position: absolute;
  height: 1px;
  background-color: #313440;
}

.table-line.line1::before {
  left: 165px;
  width: 250px;
}

.table-line.line2::before {
  left: 159px;
  width: 255px;
}

.table-line.line3::before {
  left: 129px;
  width: 287px;
}

.table-line.line4::before {
  left: 235px;
  width: 182px;
}

.table-line.line5::before {
  left: 178px;
  width: 247px;
}

.table-line.line6::before {
  left: 200px;
  width: 214px;

}
.table-line.line7::before {
  left: 259px;
  width: 156px;
}

.table-line.line8::before {
  left: 238px;
  width: 176px;
}
/* КОНЕЦ ОЧЕНЬ И ОЧЕНЬ КРИВОГО КОСТЫЛЯ, НЕ КТО НЕ СМОТРИТЕ СЮДА */

.table-left {
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.table-right {
  background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}
/* Конец услуг и цен */

/* Cтарая традиционная школа */
.feature .container {
  display: flex;
}

.feature-items {
  position: relative;
  width: 370px;
  height: 331px;
  margin-top: 121px;
  margin-left: 100px;
}

.feature-list {
  display: flex;
}

.feature-item {
  width: 170px;
  height: 133px;
  background: var(--teams-bcg-color);
  text-align: center;
}

.feature-item.item1 {
  position: absolute;
  top: 0;
  left: 0;
}

.feature-item.item2 {
  position: absolute;
  top: 35px;
  right: 0;
}

.feature-item.item3 {
  position: absolute;
  bottom: 35px;
  left: 0;
}

.feature-item.item4 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.feature-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  color: var(--header-text-color);
  padding: 20px 45px 0px 45px;
}

.feature-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: var(--header-text-color);
  padding: 6px 24px 20px 24px;
}

.feature-description {
  width: 500px;
  height: 243px;
  margin-top: 130px;
  margin-left: 130px;
}
/* Конец Cтарая традиционная школа */

/* Наши мастера */
.teams {
  margin: 0  auto;
  width: 1280px;
  background: var(--teams-bcg-color);
}

.teams .primary-subtitle {
  padding-top: 130px;
}

.team {
  display: flex;
}

.team-member {
  margin: 30px auto;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.member-name {
  text-align: center;
  font-weight: 400;
  line-height: 1.4;
  color: var(--header-text-color);
  margin-bottom: 8px;
}

.member-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  color: var(--accent-color);
}

.company-socials .socials {
  display: flex;
}

.network.firm {
  background-color: var(--primary-bcg-color);
}

.socials .social-item:not(:last-child) {
  margin-right: 10px;
}

.network {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-text-color);
}

.icon-network {
  fill: var(--header-text-color);
}

.network:hover .icon-network,
.network:focus .icon-network {
  fill: var(--accent-color);
}

.section.teams {
  padding: 0;
}

.team .company-socials {
  margin: 30px 82px 130px 82px;
}
/* Конец наших мастеров */

/* На латинском языке “барба” означает “борода” */
.beard {
  margin-top: 130px;
}

.beard-columns {
  display: flex;
}

.beard-item:not(:last-child) {
  margin-right: 30px;
}

.beard-text {
  margin-bottom: 44px;
}
/* Конец На латинском языке “барба” означает “борода” */

/* Контакты */
.contacts {
  background-color: var(--contacts-bcg-color);
  background-image: linear-gradient(to right, rgba(41, 42, 50, 0.9), rgba(47, 48, 58, 0.9)), url(../images/main/armchair.jpg);
  background-repeat: no-repeat;
  background-position: right;
  height: 644px;
  margin: 0 auto;
  width: 1280px;
}

.contacts .container {
  display: flex;
}

.online-registration {
  width: 600px;
  padding-top: 130px;
}

.contact {
  width: 569px;
  padding-left: 100px;
  padding-top: 130px;
}

.contact .secondary-title {
  padding-bottom: 44px;
}

.contact-item:not(:last-child) {
  padding-bottom: 20px;
}

.work-hours {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-bcg-color);
  padding-top: 66px;
  padding-bottom: 20px;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

.contact-item .map,
.contact-item .mail,
.contact-item .tel {
  display: flex;
  align-items: center;
}

.contact-icon {
  margin-right: 10px;
  fill: transparent;
}

/* Форма ввода */
input[type=text],
textarea {
  padding: 12px;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: var(--navigation-text-color);
}

.form-name {
  width: 270px;
  margin-right: 30px;
}

.form-tel {
  width: 260px;
}

.form-message {
  width: 560px;
}

.form {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;
}

input[type=text]:hover,
textarea:hover {
  border-color: var(--primary-bcg-color);
}

.form-name:hover::placeholder,
.form-tel:hover::placeholder,
.form-message:hover::placeholder {
  color: var(--navigation-text-color);
}
/* Конец формы ввода */

/* Футер */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
  padding-bottom: 53px;
}

.socials-footer .social-list {
  margin-top: 0;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--subtitle-text-color);
}
/* Конец футера */

/* Модалка */
.modal-bgd {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(27 29 31 / 0.7);
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;

  transition: all 0.3s ease-in-out;

}

.form.modal-form {
  margin-bottom: 0;
}
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-column {
  display: flex;
}

.modal-form-container {
  background-color: var(--contacts-bcg-color);
  padding: 32px 92px 60px 92px;
  position: relative;
}

.modal-form-title {
  max-width: 600px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--primary-bcg-color);
  margin: 32px 0 12px 0;
}

.modal-form-descr {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 22px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--subtitle-text-color);;
  margin-bottom: 24px;

}

.modal-field-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-bottom: 8px;

}

.modal-field-input {
  border: 1px solid #005BBB;
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  padding: 4px 8px;
}

.modal-form-btn {
  width: 160px;
  height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--navigation-text-color);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

.modal-form-btn:focus,
.modal-form-btn:hover {
  background-color: var(--accent-color);
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  color: var(--primary-bcg-color);
  cursor: pointer;
  border: 0;
  background: none;
  outline: none;

}

.modal-descr {
  margin-bottom: 0;
}

.modal-active {
  opacity: 1;
  pointer-events: all;
}

.modal-logo {
  fill: var(--primary-bcg-color);
}

.name-company {
  color: var(--primary-bcg-color);
}
/* Конец модалки */