/* 
Шрифты:
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

:root {
  --accent-color: #FF6C00;
  --navigation-text-color: #FFFFFF;
  --header-text-color: #303030;
  --subtitle-text-color: #9DA4BD;
  --description-text-color: #555555;
  --secondary-subtitle-text-color: rgba(157, 164, 189, 0.6);;
  --primary-bcg-color: #FFFFFF;
  --secondary-bcg-color: #E5E5E5;
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
 }

body {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
 }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
}

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Шапка */
.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--navigation-text-color);
}

.button {
  width: 160px;
  height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--navigation-text-color);
  background-color: transparent;
}
/* Конец шапки */

/* Герой */

.hero-description {
  width: 1070px;
  height: 680px;
  background-image: url(../images/main/hero.jpg);
}

.secondary-title.chief {
  font-size: 72px;
  line-height: 1.18;
}

.secondary-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--navigation-text-color);
}

.secondary-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-subtitle-text-color);
}

.secondary-text {
  color: var(--subtitle-text-color);
}
/* Конец героя */