/* 
Шрифты:
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

:root {
  --accent-color: #FF6C00;
  --navigation-text-color: #FFFFFF;
  --header-text-color: #303030;
  --subtitle-text-color: #9DA4BD;
  --description-text-color: #555555;
  --primary-font: 'Open Sans', sans-serif;;
  --secondary-font: 'Raleway', sans-serif;
 }

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
 }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
}

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}